ollama
openai
pywebview
rich
RealtimeSTT
RealtimeTTS
numpy
PyAudio
pyautogui
pyperclip
uiautomation
comtypes
psutil
screen-brightness-control
pycaw
opencv-python
Pillow
pytesseract
pypdf
duckduckgo-search
beautifulsoup4
yfinance
deep-translator
pywhatkit
winsdk
